<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030965621173-1utur1kic9ab91mdeqhtrhsnppi2m8a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030965621173-1utur1kic9ab91mdeqhtrhsnppi2m8a4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030965621173-f6r0doq90rfsvni7vn863lnt4ce3hv09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRN5pybbcPxnL__3yTRr60gvr-2ipa1iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1030965621173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>mindify-d1d55</string>
	<key>STORAGE_BUCKET</key>
	<string>mindify-d1d55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030965621173:ios:a8c654045f98d02f87e9fc</string>
</dict>
</plist>